<AuthorizeView>
    <Authorized>
        <nav class="bottom-nav" aria-label="主要ナビゲーション">
            <NavLink class="bottom-nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-symbol" aria-hidden="true">⌂</span>
                <span>ホーム</span>
            </NavLink>
            <NavLink class="bottom-nav-link" href="fridge">
                <span class="nav-symbol" aria-hidden="true">+</span>
                <span>冷蔵庫</span>
            </NavLink>
            <NavLink class="bottom-nav-link primary" href="suggest">
                <span class="nav-symbol" aria-hidden="true">◎</span>
                <span>提案</span>
            </NavLink>
            <NavLink class="bottom-nav-link" href="history">
                <span class="nav-symbol" aria-hidden="true">≡</span>
                <span>記録</span>
            </NavLink>
            <NavLink class="bottom-nav-link" href="notifications">
                <span class="nav-symbol" aria-hidden="true">!</span>
                <span>通知</span>
            </NavLink>
        </nav>
    </Authorized>
</AuthorizeView>
